.template {
  display: none;
}
body {
  background: #3B3B3B;
  font-family: Arial;
  margin-top: 100px;
}
.fullscreen-image {
  margin: auto;
  display: none;
}
#splash #splash-image {
  display: block;
}
#countdown #countdown-image {
  display: block;
}

.time {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}

#result-table {
  display: none;
  margin: auto;
  background: #454545;
  border: 0;
  border-spacing: 0;
  border-bottom: 1px solid #626262;
  border-right: 1px solid #626262;
}

#competition #result-table {
  display: table;
}

#result-table td, #result-table th {
  color: #fff;
  padding: 8px;
  border-top: 1px solid #626262;
  border-left: 1px solid #626262;
  font-weight: normal;
  font-size: 0.9em;
  width: 6em;
}

#result-table td.rabbit, #result-table th.rabbit {
  background: #3a3a3a;
}

.challenge-results.not-started td {color: #8f8f8f}
.challenge-results.current {
  height: 7em;
  background: -moz-linear-gradient(100% 100% 90deg, #676767, #454545);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#454545), to(#676767));
}

.challenge-name .name { display: none; }
.current .challenge-name .name { display: block; }
.challenge-name .ordinal,
.total-results { font-size: 1.33em;}
.total-results {
  background: -moz-linear-gradient(100% 100% 90deg, #454545, #676767);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#676767), to(#454545));
}
.total-results .contender-total {text-align : center;}
.total-results .rank-1 { background-image : url("../images/gold.png"); background-repeat : no-repeat;}
.total-results .rank-2 { background-image : url("../images/silver.png"); background-repeat : no-repeat;}
.total-results .rank-3 { background-image : url("../images/bronze.png"); background-repeat : no-repeat;}

.challenge-results .contender-result { text-align : center; }
.challenge-results .contender-result .score { display: block; font-size: 1.33em; }
.challenge-results.completed img.fail { display: none; }
.challenge-results.current .contender-result .result { display: block; }
.fail .value-graph { display : none; }
.challenge-results .contender-result .result .weight { display : none; }
.challenge-results.current .contender-result .result .weight { display : block; }

.challenge-results.current .contender-result .result .value-graph {
  height : 6em;
  margin-top: 1.5em;
}
.challenge-results .contender-result .result .value-bar {
  margin: 0 auto;
  width: 62px;
}
.challenge-results .contender-result .result { float : right; width : 80px; }
.challenge-results .contender-result .score { float : right; }

.challenge-results.current .contender-result .result .value-bar {
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image:url('../images/green-bar.png');
  background-repeat:repeat-y;
}
.challenge-results.current .contender-result.rabbit .value-bar {
  background-image:url('../images/yellow-bar.png');
}

.challenge-results.current .contender-result .result .value-bar .value {
  position: relative;
  top: -1.4em;
}
