.template {
  display: none;
}
body {
  background: #3B3B3B;
  font-family: Arial;
}
.result-table {
  background: #454545;
  border: 0;
  border-spacing: 0;
  border-bottom: 1px solid #626262;
  border-right: 1px solid #626262;
}
.result-table td, .result-table th {
  color: #fff;
  padding: 8px;
  border-top: 1px solid #626262;
  border-left: 1px solid #626262;
  font-weight: normal;
  font-size: 1em;
}
.challenge-results.not-started td {color: #8f8f8f}
.challenge-results.current {
  height: 8em;
  background: -moz-linear-gradient(100% 100% 90deg, #676767, #454545);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#454545), to(#676767));
}

.challenge-name .name { display: none; }
.current .challenge-name .name { display: block; }
.challenge-name .ordinal,
.total-results { font-size: 1.2em; }
.total-results td {
  background: -moz-linear-gradient(100% 100% 90deg, #454545, #676767);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#676767), to(#454545));
}

.challenge-results .contender-result { text-align : center; }
.challenge-results .contender-result > div { display: none; }
.challenge-results.completed .contender-result .score { display: block; }
.challenge-results.completed img.fail { display: none; }
.challenge-results.current .contender-result .result { display: block; }
.challenge-results.current .contender-result .result .value-graph { height : 5em }
.challenge-results.current .contender-result .result .value-bar { background-color: green }
